<button
   [class]="class"
   [id]="id"
   [type]="type"
   [class.disabled]="disabled || (spinner && !!(spinnerStatus$ | async) && !!buttonId && buttonId == id)"
   [disabled]="disabled || (spinner && !!(spinnerStatus$ | async) && !!buttonId && buttonId == id)"
   (click)="onClick(id)">
   @if(spinner && (spinnerStatus$ | async) && buttonId && buttonId == id) {
     <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
   }
   <ng-content></ng-content>
</button>