<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'pending withdrawal'">
  <div class="card-bottom-space">
    <div
      class="row row-cols-xxl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 g-sm-4 g-3"
    >
      <div class="widget-card-box">
        <a href="javascript:void(0)" class="widget-card card">
          <div class="widget-icon">
            <img
              src="assets/images/svg/empty-wallet.svg"
              class="img-fluid"
              alt="empty-wallet"
            />
          </div>
          <div>
            <h6>{{ "total_withdrawal" | translate }}</h6>
            <h2>
              {{ (statistics$ | async)?.total_withdrawals | currencySymbol }}
            </h2>
          </div>
        </a>
      </div>

      <div class="widget-card-box">
        <a [routerLink]="['/product']" class="widget-card card">
          <div class="widget-icon">
            <img
              src="assets/images/svg/receipt-2.svg"
              class="img-fluid"
              alt="receipt"
            />
          </div>
          <div>
            <h6>{{ "current_month_withdrawal" | translate }}</h6>
            <h2>{{ (statistics$ | async)?.current_month_withdrawals }}</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
  <app-table
    [tableConfig]="tableConfig"
    [dateRange]="true"
    (tableChanged)="onTableChange($event)"
    (rowClicked)="edit($event)"
    (action)="onActionClicked($event)"
  >
    @if(open){
    <div advanceFilter class="show-box mb-4 d-block product-category-option">
      <div class="row g-sm-4 g-3">
        <!-- <div class="col-xl-4 col-lg-6 col-md-3 col-sm-6">
          @if(isBrowser) {
          <select2
            class="custom-select"
            [data]="(countries$ | async)?.length ? (countries$ | async) : []"
            [placeholder]="'select_country' | translate"
            (update)="filters($event, 'country')"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable
          >
          </select2>
          }
        </div> -->
        <div class="col-xl-6 col-lg-6 col-md-3 col-sm-6">
          @if(isBrowser) {
          <select2
            class="custom-select"
            [data]="months.length ? months : []"
            [placeholder]="'month' | translate"
            (update)="filters($event, 'month')"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable
          >
          </select2>
          }
        </div>
        <div class="col-xl-6 col-lg-6 col-md-3 col-sm-6">
          @if(isBrowser) {
          <select2
            class="custom-select"
            [data]="years.length ? years : []"
            [placeholder]="'year' | translate"
            (update)="filters($event, 'year')"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable
          >
          </select2>
          }
        </div>
      </div>
    </div>
    }
  </app-table>
</app-page-wrapper>

<app-import-csv-modal [module]="'withdrawal'" #csvModal> </app-import-csv-modal>

<app-digital-download-modal #downloadModal> </app-digital-download-modal>
