<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'due loan repayment'">
  <div class="card-bottom-space">
    <div
      class="row row-cols-xxl-5 row-cols-md-3 row-cols-sm-2 row-cols-1 g-sm-4 g-3"
    >
      <div class="widget-card-box">
        <a href="javascript:void(0)" class="widget-card card">
          <div class="widget-icon">
            <img
              src="assets/images/svg/empty-wallet.svg"
              class="img-fluid"
              alt="empty-wallet"
            />
          </div>
          <div>
            <h6>{{ "total_loans" | translate }}</h6>
            <h2>
              {{ (statistics$ | async)?.total_loans ?? 0 | currencySymbol }}
            </h2>
          </div>
        </a>
      </div>

      <div class="widget-card-box">
        <a [routerLink]="['/product']" class="widget-card card">
          <div class="widget-icon">
            <img
              src="assets/images/svg/receipt-2.svg"
              class="img-fluid"
              alt="receipt"
            />
          </div>
          <div>
            <h6>{{ "total_remaining" | translate }}</h6>
            <h2>
              {{ (statistics$ | async)?.total_remaining ?? 0 | currencySymbol }}
            </h2>
          </div>
        </a>
      </div>
      <div class="widget-card-box">
        <a
          [routerLink]="['/registration/exited-members']"
          class="widget-card card"
        >
          <div class="widget-icon">
            <img
              src="assets/images/svg/empty-wallet.svg"
              class="img-fluid"
              alt="log-out"
            />
          </div>
          <div>
            <h6>{{ "monthly_due" | translate }}</h6>
            <h2>
              {{ (statistics$ | async)?.monthly_due ?? 0 | currencySymbol }}
            </h2>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="d-flex flex-wrap gap-3" button *hasPermission="'loan.create'">
    <a
      (click)="export()"
      class="align-items-center btn btn-theme d-flex rounded"
    >
      <i class="ri-download-2-line"></i> {{ "export" | translate }}
    </a>
  </div>
  <app-table
    [tableConfig]="tableConfig"
    [dateRange]="true"
    [searchInput]="true"
    (tableChanged)="onTableChange($event)"
    (action)="onActionClicked($event)"
  >
    <!-- <div filter class="top-panel-selection">
      <button class="align-items-center btn d-flex h-100 btn-light-bg fs-5 px-3 py-1" (click)="openFilter()">
        <i class="ri-filter-3-line"></i>
      </button>
    </div> -->

    @if(open){
    <div advanceFilter class="show-box mb-4 d-block product-category-option">
      <div class="row g-sm-4 g-3">
        <!-- <div class="col-xl-4 col-lg-6 col-md-3 col-sm-6">
          @if(isBrowser) {
          <select2
            class="custom-select"
            [data]="(countries$ | async)?.length ? (countries$ | async) : []"
            [placeholder]="'select_country' | translate"
            (update)="filters($event, 'country')"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable
          >
          </select2>
          }
        </div> -->
        <!-- <div class="col-xl-4 col-lg-6 col-md-3 col-sm-6">
          @if(isBrowser) {
          <select2
            class="custom-select"
            [placeholder]="'select_loan_type' | translate"
            [data]="loanType.length ? loanType : []"
            (update)="applyFilter($event)"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable
          >
          </select2>
          }
        </div> -->
        <div class="col-xl-4 col-lg-6 col-md-3 col-sm-6">
          @if(isBrowser) {
          <select2
            class="custom-select"
            [data]="months.length ? months : []"
            [placeholder]="'month' | translate"
            (update)="filters($event, 'month')"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable
          >
          </select2>
          }
        </div>
        <div class="col-xl-4 col-lg-6 col-md-3 col-sm-6">
          @if(isBrowser) {
          <select2
            class="custom-select"
            [data]="years.length ? years : []"
            [placeholder]="'year' | translate"
            (update)="filters($event, 'year')"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable
          >
          </select2>
          }
        </div>
      </div>
    </div>
    }
  </app-table>
</app-page-wrapper>

<app-import-csv-modal [module]="'loan'" #csvModal> </app-import-csv-modal>

<app-digital-download-modal #downloadModal> </app-digital-download-modal>
