@if(loadingStatus$ | async){
   <app-loader></app-loader>
}
<div class="container-fluid">
   <div class="row">
     
      <div [class]="gridClass">
         
         <div class="card">
            <div class="card-body">
               @if(title){
                  <div class="title-header">
                     <div class="d-flex align-items-center gap-2">
                        @if(backButton){
                           <button type="button" class="btn btn-light btn-sm back-btn" (click)="goBack()" title="Go back">
                              <i class="ri-arrow-left-line"></i>
                           </button>
                        }
                        <h5 class="mb-0">{{ title | translate }}</h5>
                        <ng-content select="[option]"></ng-content>
                     </div>
                     <ng-content select="[button]"></ng-content>
                  </div>
               }
               <ng-content></ng-content>
            </div>
         </div>
      </div>
   </div>
</div>