<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'thrift_tier'">
  <div
    class="d-flex flex-wrap gap-3"
    button
    *hasPermission="'configurations.create'"
  >
    <a
      [routerLink]="['/configurations/thrift-tier/add-thrift-tier']"
      class="align-items-center btn btn-theme d-flex rounded"
    >
      {{ "add_thrift_tier" | translate }}
    </a>
  </div>
  <app-table
    [tableConfig]="tableConfig"
    (tableChanged)="onTableChange($event)"
    (action)="onActionClicked($event)"
  >
  </app-table>
</app-page-wrapper>

<app-import-csv-modal [module]="'configurations'" #csvModal>
</app-import-csv-modal>

<app-digital-download-modal #downloadModal> </app-digital-download-modal>
