<form
  class="theme-form theme-form-2 mega-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'name'"
    [for]="'name'"
    [required]="true"
  >
    @if(isBrowser) {
    <input
      class="form-control"
      [class.bg-light]="type === 'edit'"
      id="name"
      type="text"
      placeholder="{{ 'enter_name' | translate }}"
      formControlName="name"
      [attr.readonly]="type === 'edit' ? true : null"
    />
    } @if(form.controls['name']?.touched &&
    form.controls['name'].errors?.['required']){
    <div class="invalid-feedback">{{ "name_is_required" | translate }}</div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'rate'"
    [for]="'rate'"
    [required]="true"
  >
    @if(isBrowser) {
    <div class="input-group">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="decrementRate('rate')"
      >
        <i class="ri-subtract-line"></i>
      </button>
      <input
        class="form-control text-center"
        id="rate"
        type="number"
        placeholder="{{ 'select_rate' | translate }}"
        formControlName="rate"
        min="0"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="incrementRate('rate')"
      >
        <i class="ri-add-line"></i>
      </button>
    </div>
    } @if(form.controls['rate']?.touched &&
    form.controls['rate'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "rate_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'guarantors'"
    [for]="'guarantors'"
    [required]="true"
  >
    @if(isBrowser) {
    <div class="input-group">
      @if(!isQuickCash) {
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="decrementRate('guarantors')"
      >
        <i class="ri-subtract-line"></i>
      </button>
      }
      <input
        class="form-control text-center"
        [class.bg-light]="isQuickCash"
        id="guarantors"
        type="number"
        placeholder="{{ 'select_guarantors' | translate }}"
        formControlName="guarantors"
        [attr.readonly]="isQuickCash ? true : null"
        min="0"
      />
      @if(!isQuickCash) {
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="incrementRate('guarantors')"
      >
        <i class="ri-add-line"></i>
      </button>
      }
    </div>
    } @if(form.controls['guarantors']?.touched &&
    form.controls['guarantors'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "guarantors_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'description'"
    [for]="'description'"
  >
    @if(isBrowser) {
    <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      formControlName="description"
      [placeholder]="'enter_description' | translate"
    ></ngx-editor>
    }
  </app-form-fields>
  <app-button [id]="'user_btn'">{{
    (type == "create" ? "add_loan_type" : "edit_loan_type") | translate
  }}</app-button>
</form>
