<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'loan_requests'">
  
  <div class="card-bottom-space mb-4">
    <div class="row row-cols-xxl-3 row-cols-md-3 row-cols-sm-1 row-cols-1 g-sm-4 g-3">
      
      <div class="widget-card-box">
        <div class="widget-card card border-0 shadow-sm">
          <div class="widget-icon bg-primary-light">
            <img src="assets/images/svg/receipt-2.svg" class="img-fluid" alt="receipt" />
          </div>
          <div>
            <h6 class="text-muted small text-uppercase fw-bold">{{ "total_request_loans" | translate }}</h6>
            <h2 class="mb-0 fw-bold">{{ (statistics$ | async)?.total_loan_count ?? 0 }}</h2>
          </div>
        </div>
      </div>

      <div class="widget-card-box">
        <div class="widget-card card border-0 shadow-sm">
          <div class="widget-icon bg-success-light">
            <img src="assets/images/svg/empty-wallet.svg" class="img-fluid" alt="wallet" />
          </div>
          <div>
            <h6 class="text-muted small text-uppercase fw-bold">{{ "total_interest" | translate }}</h6>
            <h2 class="mb-0 fw-bold">
              ₦{{ (statistics$ | async)?.total_interest_sum ?? 0 | number:'1.2-2' }}
            </h2>
          </div>
        </div>
      </div>

      <div class="widget-card-box">
        <div class="widget-card card border-0 shadow-sm">
          <div class="widget-icon bg-info-light">
            <i class="ri-money-dollar-circle-line fs-1 text-info"></i>
          </div>
          <div>
            <h6 class="text-muted small text-uppercase fw-bold">{{ "total_loan_principal" | translate }}</h6>
            <h2 class="mb-0 fw-bold">
              ₦{{ (totalPrincipal$ | async) ?? 0 | number:'1.2-2' }}
            </h2>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="d-flex flex-wrap gap-3 justify-content-end mb-3" button *hasPermission="'loan.create'">
    <a (click)="export()" class="btn btn-theme d-flex align-items-center rounded gap-2">
      <i class="ri-download-2-line"></i> {{ "export" | translate }}
    </a>
  </div>

  <app-table
    [tableConfig]="tableConfig"
    [dateRange]="true"
    [searchInput]="true"
    (tableChanged)="onTableChange($event)"
    (action)="onActionClicked($event)"
  >
    <div advanceFilter class="show-box mb-4 d-block">
      <div class="row g-sm-4 g-3">
        <div class="col-xl-4 col-lg-6 col-md-6">
          @if(isBrowser) {
          <label class="form-label small fw-bold text-muted">{{ 'month' | translate }}</label>
          <select2
            class="custom-select"
            [data]="months"
            [placeholder]="'select_month' | translate"
            (update)="filters($event, 'month')"
            resettable
          ></select2>
          }
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6">
          @if(isBrowser) {
          <label class="form-label small fw-bold text-muted">{{ 'year' | translate }}</label>
          <select2
            class="custom-select"
            [data]="years"
            [placeholder]="'select_year' | translate"
            (update)="filters($event, 'year')"
            resettable
          ></select2>
          }
        </div>
      </div>
    </div>
  </app-table>

</app-page-wrapper>