<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'settings'">
    <form class="theme-form theme-form-2 mega-form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="vertical-tabs">
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                        <li ngbNavItem="basic">
                            <a ngbNavLink><i class="ri-settings-line"></i>{{ 'basic' | translate }}</a>
                            <ng-template ngbNavContent>
                                <app-basic></app-basic>
                            </ng-template>
                        </li>
                        <!-- <li ngbNavItem="loan">
                            <a ngbNavLink><i class="ri-exchange-funds-line"></i> {{ 'loan' | translate }}</a>
                            <ng-template ngbNavContent>
                                <app-loan></app-loan>
                            </ng-template>
                        </li> -->
                        <li ngbNavItem="notification">
                            <a ngbNavLink><i class="ri-notification-line"></i>{{ 'notification' | translate }}</a>
                            <ng-template ngbNavContent>
                                <app-notification></app-notification>
                            </ng-template>
                        </li>
                        <li ngbNavItem="others">
                            <a ngbNavLink><i class="ri-radio-button-line"></i>{{ 'others' | translate }}</a>
                            <ng-template ngbNavContent>
                                <app-others></app-others>
                            </ng-template>
                        </li>
                        <li ngbNavItem="payment">
                            <a ngbNavLink><i class="ri-bank-card-line"></i>{{ 'payment' | translate }}</a>
                            <ng-template ngbNavContent>
                                <app-payment></app-payment>
                            </ng-template>
                        </li>
                        <li ngbNavItem="app-content">
                            <a ngbNavLink><i class="ri-video-line"></i>App Content</a>
                            <ng-template ngbNavContent>
                                <app-app-content></app-app-content>
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-7 col-lg-8">
                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>
        </div>
    </form>
</app-page-wrapper>
