<form
  class="theme-form theme-form-2 mega-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'search member'"
    [for]="'search_member'"
    [required]="true"
  >
    <div class="search-container">
      <div class="search-input-wrapper">
        <input
          class="form-control search-input"
          [(ngModel)]="text"
          [ngModelOptions]="{ standalone: true }"
          (keyup)="searchTerm(text)"
          (click)="openDropDown(text)"
          type="text"
          autocomplete="off"
          placeholder="{{
            'search_by_name_email_phone_member_id' | translate
          }} ..."
        />
        <i class="ri-search-line search-icon"></i>
      </div>

      <div class="search-results-dropdown" [class.open]="searchResult">
        <div class="results-container">
          <ul class="results-list">
            @for(item of items; track item.id){
            <li class="result-item" (click)="selectMember(item)">
              <a class="result-link">
                <span class="item-title">{{ item.title | translate }}</span>
              </a>
            </li>
            }
          </ul>

          @if(searchResultEmpty){
          <div class="no-results-message">
            {{ "opps!!_There_are_no_result_found" | translate }}
          </div>
          }
        </div>
      </div>
    </div>
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'Amount'"
    [for]="'amount'"
    [required]="true"
  >
    <input
      class="form-control"
      id="amount"
      type="text"
      placeholder="{{ 'enter_amount' | translate }}"
      formControlName="amount"
    />
    @if(form.controls['amount'].touched &&
    form.controls['amount'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "amount_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'withdrawal from'"
    [for]="'from_account'"
    [required]="true"
  >
    @if(isBrowser) {
    <select2
      class="custom-select"
      [placeholder]="'select_withdrawal_type' | translate"
      [data]="accountFrom?.length ? accountFrom : []"
      formControlName="from_account"
      noResultMessage="{{ 'no_data_found' | translate }}"
      id="from_account"
    >
    </select2>
    } @if(form.controls['from_account'].touched &&
    form.controls['from_account'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "from_account_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <!-- <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'month'"
    [for]="'month'"
    [required]="true"
  >
    @if(isBrowser) {
    <select2
      class="custom-select"
      [placeholder]="'month' | translate"
      [data]="months?.length ? months : []"
      formControlName="month"
      noResultMessage="{{ 'no_data_found' | translate }}"
      id="month"
      resettable
    >
    </select2>
    } @if(form.controls['month'].touched &&
    form.controls['month'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "month_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'year'"
    [for]="'year'"
    [required]="true"
  >
    @if(isBrowser) {
    <select2
      class="custom-select"
      [placeholder]="'year' | translate"
      [data]="years?.length ? years : []"
      formControlName="year"
      noResultMessage="{{ 'no_data_found' | translate }}"
      id="year"
      resettable
    >
    </select2>
    } @if(form.controls['year'].touched &&
    form.controls['year'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "year_is_required" | translate }}
    </div>
    }
  </app-form-fields> -->
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'Payment Method'"
    [for]="'payment_method'"
    [required]="true"
  >
    @if(isBrowser) {
    <select2
      class="custom-select"
      [placeholder]="'select_payment_method' | translate"
      [data]="deductionSources?.length ? deductionSources : []"
      formControlName="payment_method"
      noResultMessage="{{ 'no_data_found' | translate }}"
      id="payment_method"
      resettable
    >
    </select2>
    } @if(form.controls['payment_method']?.touched &&
    form.controls['payment_method']?.errors?.['required']){
    <div class="invalid-feedback">
      {{ "payment_method_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'currency'"
    [for]="'currency'"
    [required]="true"
  >
    @if(isBrowser) {
    <select2
      class="custom-select"
      [placeholder]="'currency' | translate"
      [data]="currencies.length ? currencies : []"
      formControlName="currency"
      noResultMessage="{{ 'no_data_found' | translate }}"
      id="currency"
      resettable
    >
    </select2>
    } @if(form.controls['currency'].touched &&
    form.controls['currency'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "currency_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'narration'"
    [for]="'narration'"
  >
    <textarea
      class="form-control"
      id="narration"
      placeholder="{{ 'enter_short_narration' | translate }}"
      rows="3"
      formControlName="narration"
    ></textarea>
    <p class="help-text">{{ "*Maximum length should be 300 characters." }}</p>
    <!-- @if(form.controls['narration'].touched && form.controls['narration'].errors?.['required']){
      <div class="invalid-feedback">
        {{ 'narration_is_required' | translate }}
      </div>
    } -->
  </app-form-fields>
  <app-button [id]="'user_btn'">{{
    (type == "create" ? "make_withdrawal" : "update_withdrawal") | translate
  }}</app-button>
</form>
