@if (topbar) {
  <div class="show-box">
    <div class="selection-box">
      <label>{{ "show" | translate }} :</label>

      <select class="form-control" (change)="onChangeTable($event, 'paginate')">
        @for (item of rows; track item) {
          <option [value]="item">{{ item }}</option>
        }
      </select>

      <label>{{ "items_per_page" | translate }}</label>

      @if (deleteButtonStatus) {
        <a
          class="align-items-center btn btn-light-bg btn-sm d-flex"
          href="javascript:void(0)"
          (click)="DeleteModal.openModal('deleteAll', selected)"
        >
          <i class="ri-delete-bin-line"></i> {{ "delete" | translate }}
        </a>
      }

      @if (duplicateButtonStatus && hasDuplicate) {
        <a
          class="align-items-center btn btn-light-bg btn-sm d-flex"
          href="javascript:void(0)"
          (click)="
            ConfirmationModal.openModal('duplicate', selected);
            $event.preventDefault();
            $event.stopPropagation();
          "
        >
          <i class="ri-file-copy-line"></i> {{ "duplicate" | translate }}
        </a>
      }
    </div>

    <div class="role-search">
      @if (dateRange) {
        <div class="dp-hidden position-absolute custom-dp-dropdown">
          <div class="input-group">
            <input
              name="datepicker"
              class="form-control"
              ngbDatepicker
              #datepicker="ngbDatepicker"
              [autoClose]="'outside'"
              (dateSelect)="onDateSelection($event)"
              [displayMonths]="2"
              [dayTemplate]="t"
              outsideDays="hidden"
              [startDate]="fromDate!"
              [footerTemplate]="footerTemplate"
              id="start_date"
              tabindex="-1"
              readonly
            />

            <ng-template #t let-date let-focused="focused">
              <span
                class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
              >
                {{ date.day }}
              </span>
            </ng-template>
          </div>
        </div>

        <div class="search-input">
          <div class="input-group custom-dt-picker">
            <input
              #dpFromDate
              class="form-control"
              placeholder="{{ 'yyyy-mm-dd' | translate }}"
              [value]="formatter.format(fromDate)"
              readonly
            />
            <button
              class="btn btn-light-bg-secondary"
              type="button"
              (click)="datepicker.toggle()"
            >
              <i class="ri-calendar-line"></i>
            </button>
          </div>

          <div class="input-group custom-dt-picker">
            <input
              #dpToDate
              class="form-control"
              placeholder="{{ 'yyyy-mm-dd' | translate }}"
              [value]="formatter.format(toDate)"
              readonly
            />
            <button
              class="btn btn-light-bg-secondary"
              type="button"
              (click)="datepicker.toggle()"
            >
              <i class="ri-calendar-line"></i>
            </button>
          </div>
        </div>

        <ng-template #footerTemplate>
          <hr class="my-0" />
          <button class="btn btn-primary btn-sm m-2 float-start"
            (click)="clearDateRange(); datepicker.close()">
            {{ "clear" | translate }}
          </button>
          <button class="btn btn-secondary btn-sm m-2 float-end"
            (click)="datepicker.close()">
            {{ "close" | translate }}
          </button>
        </ng-template>
      }

      @if (searchInput) {
        <div class="role-search product-search justify-content-end w-auto">
          <label class="form-label">{{ "search" | translate }} :</label>
          <input type="search" class="form-control" [formControl]="term" />
        </div>
      }

      <ng-content select="[filter]"></ng-content>
    </div>
  </div>
}

<ng-content select="[advanceFilter]"></ng-content>

<div>
  <div class="table-responsive datatable-wrapper border-table">
    @if ((loadingStatus$ | async) && loading) {
      <div class="table-loader">
        <span>{{ "please_wait" | translate }}...</span>
      </div>
    }

    <table class="table all-package theme-table no-footer">
      <thead>
        <tr>
          @if (hasCheckbox) {
            <th class="sm-width">
              <div class="custom-control custom-checkbox">
                <input
                  id="table-checkbox"
                  type="checkbox"
                  class="custom-control-input checkbox_animated"
                  [checked]="
                    tableConfig?.data?.length &&
                    selected?.length == tableConfig?.data?.length
                  "
                  (change)="checkUncheckAll($event)"
                />
                <label for="table-checkbox" class="custom-control-label"></label>
              </div>
            </th>
          }

          @for (columnHead of tableConfig?.columns; track columnHead) {
            @if (
              !columnHead?.canAllow ||
              (columnHead?.canAllow?.length &&
                role &&
                columnHead?.canAllow?.includes(role))
            ) {
              <th
                [ngClass]="{
                  'sm-width': columnHead?.type == 'no' || columnHead?.type == 'image'
                }"
                [class.cursor-pointer]="columnHead?.sortable"
                (click)="columnHead?.sortable && onChangeTable(columnHead, 'sort')"
              >
                {{ columnHead?.title | translate }}

                @if (columnHead?.sortable) {
                  <div class="filter-arrow">
                    <div>
                      @if (columnHead?.sort_direction === 'desc') {
                        <i class="ri-arrow-up-s-fill"></i>
                      }
                      @if (columnHead?.sort_direction === 'asc') {
                        <i class="ri-arrow-down-s-fill"></i>
                      }
                    </div>
                  </div>
                }
              </th>
            }
          }

          @if (tableConfig?.rowActions?.length) {
            <th>{{ "actions" | translate }}</th>
          }
        </tr>
      </thead>

      <tbody>
        @for (columnData of tableConfig?.data; track columnData.id; let i = $index) {
          <tr>
            @if (hasCheckbox) {
              <td class="sm-width">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input checkbox_animated"
                    id="table-checkbox-item-{{ columnData.id }}"
                    [disabled]="columnData['system_reserve'] == '1'"
                    [value]="columnData?.id"
                    [checked]="
                      columnData['system_reserve'] != '1' &&
                      selected?.includes(columnData?.id)
                    "
                    (change)="onItemChecked($event)"
                  />
                  <label
                    class="custom-control-label"
                    for="table-checkbox-item-{{ columnData.id }}"
                  ></label>
                </div>
              </td>
            }

            @for (columnHead of tableConfig?.columns; track columnHead) {
              @if (
                !columnHead?.canAllow ||
                (columnHead?.canAllow?.length &&
                  role &&
                  columnHead?.canAllow?.includes(role))
              ) {
                <td
                  [ngClass]="{
                    'sm-width': columnHead?.type == 'no' || columnHead?.type == 'image'
                  }"
                  class="cursor-pointer"
                  (click)="
                    columnHead.type != 'switch' &&
                    columnData['system_reserve'] != '1'
                      ? onRowClicked(columnData)
                      : true
                  "
                >
                  @switch (columnHead?.type) {
                    @case ('no') {
                      {{ i + 1 + (tableData['page'] - 1) * tableData['paginate'] }}
                    }
                    @case ('image') {
                      @if (columnData[columnHead.dataField]) {
                        <img
                          [class]="columnHead.class"
                          [src]="columnData[columnHead.dataField]?.original_url"
                        />
                      } @else {
                        <div class="user-round">
                          <h4>
                            {{
                              columnData[
                                columnHead?.key
                                  ? columnHead.key
                                  : 'name'
                              ]?.charAt(0).toUpperCase() || 'F'
                            }}
                          </h4>
                        </div>
                      }
                    }
                    @case ('switch') {
                      <div class="form-check form-switch ps-0">
                        <label class="switch switch-sm">
                          <input
                            type="checkbox"
                            [disabled]="
                              columnData['system_reserve'] == '1' ||
                              !hasPermission(['edit'])
                            "
                            [checked]="columnData[columnHead.dataField] == '1'"
                            (click)="
                              ConfirmationModal.openModal(
                                columnHead.dataField,
                                columnData,
                                columnData[columnHead.dataField] == '1' ? 0 : 1
                              );
                              $event.preventDefault();
                              $event.stopPropagation();
                            "
                          />
                          <span class="switch-state"
                            [class.disabled]="
                              columnData['system_reserve'] == '1' ||
                              !hasPermission(['edit'])
                            "
                          ></span>
                        </label>
                      </div>
                    }
                    @case ('price') {
                      {{ columnData[columnHead.dataField] | currencySymbol }}
                    }
                    @case ('date') {
                      {{
                        columnData[columnHead.dataField]
                          | date :
                            (columnHead.date_format
                              ? columnHead.date_format
                              : 'dd MMM yyyy hh:mm a')
                      }}
                    }
                    @case ('rating') {
                      <ngb-rating class="rating-sec"
                        [rate]="columnData[columnHead.dataField]">
                      </ngb-rating>
                    }
                    @default {
                      <div [innerHtml]="
                        getNestedPropertyValue(
                          columnHead.dataField,
                          columnData
                        )
                      "></div>
                    }
                  }
                </td>
              }
            }

            @if (tableConfig?.rowActions?.length) {
              <td>
                <ul id="actions">
                  @if (columnData['system_reserve'] == '1') {
                    <a href="javascript:void(0)">
                      <i class="ri-lock-line"></i>
                    </a>
                  } @else {
                    @for (action of tableConfig.rowActions; track action) {
                      @if (
                        (action?.conditional &&
                          isConditionMet(action.conditional, columnData))
                        || !action?.conditional
                      ) {
                        <li>
                          <a
                            href="javascript:void(0)"
                            (click)="
                              action?.actionToPerform === 'order'
                                ? AddCreditSalesModal.openModal('order', columnData)
                                : action?.actionToPerform === 'delete'
                                ? DeleteModal.openModal('delete', columnData)
                                : action?.actionToPerform === 'reactivate'
                                ? ConfirmationModal.openModal('reactivate', columnData)
                                : onActionClicked(
                                    action.actionToPerform,
                                    columnData
                                  )
                            "
                          >
                            <i [class]="action.icon"></i>
                          </a>
                        </li>
                      }
                    }
                  }
                </ul>
              </td>
            }
          </tr>
        }

        @if (!tableConfig?.data?.length) {
          <tr>
            <td
              [attr.colspan]="
                (hasCheckbox
                  ? tableConfig.columns.length +
                    (tableConfig.rowActions.length ? 2 : 1)
                  : tableConfig.columns.length +
                    (tableConfig.rowActions.length ? 1 : 0)
                ) - (checkIsCanAllow() ? 1 : 0)
              "
            >
              <div class="no-data-added">
                <h4>{{ "no_records_found" | translate }}</h4>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (pagination) {
  <nav class="custom-pagination">
    <app-pagination
      [total]="tableConfig.total"
      [currentPage]="tableData['page']"
      [pageSize]="tableData['paginate']"
      (setPage)="onChangeTable($event, 'page')"
    ></app-pagination>
  </nav>
}

<!-- MODALS -->
<app-delete-modal
  #deleteModal
  (deleteItem)="onActionClicked($event.actionToPerform, $event.data)"
></app-delete-modal>

<app-confirmation-modal
  #confirmationModal
  (confirmed)="
    onActionClicked($event.actionToPerform, $event.data, $event.value)
  "
></app-confirmation-modal>

<app-approval-modal
  #approvalModal
  (confirmed)="onVerified($event)"
></app-approval-modal>

<app-reject-modal
  #rejectModal
  (submitted)="onRejected($event)"
></app-reject-modal>

<app-add-credit-sales-modal
  #addCreditSalesModal
  (confirmed)="
    onActionClicked($event.actionToPerform, $event.data, $event.value)
  "
></app-add-credit-sales-modal>
