<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'configurations'">
  <div class="horizontal-tabs">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li ngbNavItem="savings_type">
        <a ngbNavLink>
          <i class="ri-settings-line"></i>
          {{ "savings_type" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-saving-types></app-all-saving-types>
        </ng-template>
      </li>
      <li ngbNavItem="shares_type">
        <a ngbNavLink>
          <i class="ri-radio-button-line"></i>
          {{ "shares_type" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-shares-type></app-all-shares-type>
        </ng-template>
      </li>
      <li ngbNavItem="loan_type">
        <a ngbNavLink>
          <i class="ri-wallet-line"></i>
          {{ "loan_type" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-loan-type></app-all-loan-type>
        </ng-template>
      </li>
      <li ngbNavItem="vendors">
        <a ngbNavLink>
          <i class="ri-mail-open-line"></i>
          {{ "vendors" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-vendors></app-all-vendors>
        </ng-template>
      </li>
      <li ngbNavItem="product_plan">
        <a ngbNavLink>
          <i class="ri-bank-card-line"></i>
          {{ "product_plan" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-product-plans></app-all-product-plans>
        </ng-template>
      </li>
      <li ngbNavItem="products">
        <a ngbNavLink>
          <i class="ri-mail-open-line"></i>
          {{ "products" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-products></app-all-products>
        </ng-template>
      </li>
      <li ngbNavItem="investments_type">
        <a ngbNavLink>
          <i class="ri-user-line"></i>
          {{ "investments_type" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-investment-types></app-all-investment-types>
        </ng-template>
      </li>
      <li ngbNavItem="thrift_tiers">
        <a ngbNavLink>
          <i class="ri-exchange-dollar-line"></i>
          {{ "thrift_tiers" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-thrift-tiers></app-all-thrift-tiers>
        </ng-template>
      </li>
      <li ngbNavItem="thrift_category">
        <a ngbNavLink>
          <i class="ri-truck-line"></i>
          {{ "thrift_category" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-thrift-category></app-all-thrift-category>
        </ng-template>
      </li>
      <li ngbNavItem="currency">
        <a ngbNavLink>
          <i class="ri-bank-card-line"></i>
          {{ "currency" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-currencies></app-all-currencies>
        </ng-template>
      </li>
      <li ngbNavItem="subscription_fee">
        <a ngbNavLink>
          <i class="ri-line-chart-line"></i>
          {{ "subscription_fee" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-subscription-fee></app-all-subscription-fee>
        </ng-template>
      </li>
      <li ngbNavItem="shares_amount">
        <a ngbNavLink>
          <i class="ri-share-line"></i>
          {{ "shares_amount" | translate }}
        </a>
        <ng-template ngbNavContent>
          <app-all-shares-amount></app-all-shares-amount>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="tab-content"></div>
  </div>
</app-page-wrapper>
