<form
  class="theme-form theme-form-2 mega-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'Amount'"
    [for]="'amount'"
    [required]="true"
  >
    <input
      class="form-control"
      id="amount"
      type="text"
      placeholder="{{ 'enter_amount' | translate }}"
      formControlName="amount"
    />
    @if(form.controls['amount'].touched &&
    form.controls['amount'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "amount_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'currency'"
    [for]="'currency'"
    [required]="true"
  >
    @if(isBrowser) {
    <select2
      class="custom-select"
      [placeholder]="'currency' | translate"
      [data]="currencies.length ? currencies : []"
      formControlName="currency"
      noResultMessage="{{ 'no_data_found' | translate }}"
      id="currency"
      resettable
    >
    </select2>
    } @if(form.controls['currency'].touched &&
    form.controls['currency'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "currency_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-button [id]="'user_btn'">{{
    (type == "create" ? "add_subscription_fee" : "update_subscription_fee")
      | translate
  }}</app-button>
</form>
