<form
  class="theme-form theme-form-2 mega-form"
  [formGroup]="form"
  (ngSubmit)="submit()"
>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'investment type'"
    [for]="'investment_type'"
    [required]="true"
  >
    @if(isBrowser) {
    <select2
      class="custom-select"
      [placeholder]="'select_investment_type' | translate"
      [data]="investment_types.length ? investment_types : []"
      formControlName="investment_type_id"
      noResultMessage="{{ 'no_data_found' | translate }}"
      id="investment_type"
    >
    </select2>
    } @if(form.controls['investment_type_id']?.touched &&
    form.controls['investment_type_id'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "investment_type_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'amount'"
    [for]="'amount'"
    [required]="true"
  >
    @if(isBrowser) {
    <input
      class="form-control"
      id="rate"
      type="number"
      placeholder="{{ 'enter_amount' | translate }}"
      formControlName="amount"
      min="0"
    />
    } @if(form.controls['amount']?.touched &&
    form.controls['amount'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "amount_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'rate'"
    [for]="'rate'"
    [required]="true"
  >
    @if(isBrowser) {
    <div class="input-group">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="decrementRate()"
      >
        <i class="ri-subtract-line"></i>
      </button>
      <input
        class="form-control text-center"
        id="rate"
        type="number"
        placeholder="{{ 'select_rate' | translate }}"
        formControlName="rate"
        min="0"
        step="0.01"
        inputmode="decimal"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="incrementRate()"
      >
        <i class="ri-add-line"></i>
      </button>
    </div>
    } @if(form.controls['rate']?.touched &&
    form.controls['rate'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "rate_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'return on investment'"
    [for]="'roi'"
    [required]="true"
  >
    @if(isBrowser) {
    <input
      class="form-control"
      id="roi"
      type="number"
      placeholder="{{ 'enter_return_on_investment' | translate }}"
      formControlName="roi"
      min="0"
    />
    } @if(form.controls['roi']?.touched &&
    form.controls['roi'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "return_on_investment_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'start date'"
    [for]="'start_date'"
    [required]="true"
  >
    @if(isBrowser) {
    <input
      class="form-control"
      id="start_date"
      type="date"
      placeholder="{{ 'enter_start_date' | translate }}"
      formControlName="start_date"
    />
    } @if(form.controls['start_date']?.touched &&
    form.controls['start_date'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "start_date_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'end date'"
    [for]="'end_date'"
    [required]="true"
  >
    @if(isBrowser) {
    <input
      class="form-control"
      id="end_date"
      type="date"
      placeholder="{{ 'enter_end_date' | translate }}"
      formControlName="end_date"
    />
    } @if(form.controls['end_date']?.touched &&
    form.controls['end_date'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "end_date_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'maturity year'"
    [for]="'maturity_year'"
    [required]="true"
  >
    @if(isBrowser) {
    <select2
      class="custom-select"
      [placeholder]="'select_maturity_year' | translate"
      [data]="years.length ? years : []"
      formControlName="maturity_year"
      noResultMessage="{{ 'no_data_found' | translate }}"
      id="maturity_year"
    >
    </select2>
    } @if(form.controls['maturity_year']?.touched &&
    form.controls['maturity_year'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "maturity_year_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-form-fields
    [labelClass]="'form-label-title col-sm-3 mb-0'"
    [gridClass]="'col-sm-9'"
    [label]="'description'"
    [for]="'description'"
  >
    @if(isBrowser) {
    <textarea
      class="form-control"
      id="description"
      placeholder="{{ 'enter_description' | translate }}"
      rows="3"
      formControlName="description"
    ></textarea>
    <p class="help-text">{{ "*Maximum length should be 300 characters." }}</p>
    } @if(form.controls['description']?.touched &&
    form.controls['description'].errors?.['required']){
    <div class="invalid-feedback">
      {{ "description_is_required" | translate }}
    </div>
    }
  </app-form-fields>
  <app-button [id]="'user_btn'">{{
    (type == "create" ? "add_investment" : "edit_investment") | translate
  }}</app-button>
</form>
