<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'investments'">
  <div
    class="d-flex flex-wrap gap-3"
    button
    *hasPermission="'investment.index'"
  >
    <a
      [routerLink]="['/investment/add-investment']"
      class="align-items-center btn btn-theme d-flex rounded"
    >
      {{ "add_investment" | translate }}
    </a>
  </div>
  <app-table
    [tableConfig]="tableConfig"
    (tableChanged)="onTableChange($event)"
    (action)="onActionClicked($event)"
  >
    @if(open){
    <div advanceFilter class="show-box mb-4 d-block product-category-option">
      <div class="row g-sm-4 g-3">
        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
          <input
            type="text"
            class="form-control"
            placeholder="Search by name..."
            (input)="onTableChange({ search: $any($event.target).value })"
          />
        </div>
        <div class="col-xl-4 col-lg-6 col-md-3 col-sm-6">
          @if(isBrowser) {
          <select2
            class="custom-select"
            [data]="months.length ? months : []"
            [placeholder]="'month' | translate"
            (update)="filters($event, 'month')"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable
          >
          </select2>
          }
        </div>
        <div class="col-xl-4 col-lg-6 col-md-3 col-sm-6">
          @if(isBrowser) {
          <select2
            class="custom-select"
            [data]="years.length ? years : []"
            [placeholder]="'year' | translate"
            (update)="filters($event, 'year')"
            noResultMessage="{{ 'no_data_found' | translate }}"
            resettable
          >
          </select2>
          }
        </div>
      </div>
    </div>
    }
  </app-table>
</app-page-wrapper>

<app-import-csv-modal [module]="'investment'" #csvModal> </app-import-csv-modal>

<app-digital-download-modal #downloadModal> </app-digital-download-modal>
